.App {
  text-align: left;
}

header {
  display: flex;
  gap: 100px;
  background-color: #0ca789;
  padding: 1vh;
  font-family: 'Staatliches', Arial, Helvetica, sans-serif;
}

header > * {
  color: white;
  margin-left: 1vw;
  font-size: 300%;
  text-decoration: none;
}

.active {
  text-decoration: none;
}
